/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 900px) {
  #container {
      display:none;
  }
   .container-instead {
      display:block;
  }
  .instead-title{
  	display: none ;
  }
  .view-window3{

    height:40vh;
  }
   .view-window,
   .view-window1,
   .view-window2{

    height:40vh;
  }
  .text-intro2{

    font-size:0.7em;
  }
  .bug{
    height:30vh;
  }
   .logo img{

  max-width:30%;
 


}
}
@media screen and (max-width: 990px) {
.hou {
      display:none;
  }

  }

 @media screen and (max-width: 1200px) {
.text-card2 p{
    font-size:13px !important;
  }


  .card-body{padding:1.25rem 0rem 0 0rem;}
  .white-text{font-size: 1.5em;}
  } 
@media screen and (max-width: 1000px) {
  #compare { 

  	display: none;
  	
}
#sidemenu{display: none;}
  .compare-title { 

  	display: none;
  	
}
  .inside3{
  	display: block !important;
  }
  #menu li{

    margin-left: 0px;
    text-decoration: none;

    line-height:3rem;
  font-size:2rem;
  letter-spacing:1px;
  font-weight:600;
  }
.cool-link::after {
    content: '';
    display: block;
    width: 0;
    margin-top:-10px;
    height:6px;
    background: #6b00f2;
    transition: width 0.5s;

}
.cool-link:hover {

   
    color:black;
    text-decoration: none;



}



.cool-link:hover::after {
    width: 100%;
    color:black;
    //transition: width 0.5s;
}

  .full-picture {
    display: none;}

  .text-card1{

    font-size: 1.5em;
  }

   
}
@media screen and (min-width: 1440px) {
  .container-big {
      max-width:  1900px;
      margin:0 auto;
  }

}
@media screen and (min-width: 1200px) {
  .container {
      max-width:  1270px !important;
    
  }

}