




#sidemenu { 
	z-index:-1 !important;
	position: fixed; 
	top: 40vh; 
	left: 20px; 
	background:none; 
    opacity: 0;
}

#sidemenu ul { list-style-type: none; }

#sidemenu li { margin: 4px; padding:6px; max-width: 150px;  text-align: left; }

#sidemenu li.selected { background: none;  border-left:2px solid blue; }

#sidemenu a { text-decoration: none; color: gray; }
.selected a{
	font-weight:600; color:blue !important;
}

#sidemenu a:hover{ text-decoration: none; color:blue; background:#f5f5f5; }