
.filterDiv {

  display: none;
}

.show {
  display: block;
}



/* Style the buttons */
.bt {
  color: #666;
  text-decoration: none;
  border: 0px solid #ccc;
  padding: 4px 15px;
  border-radius: 0px;
  cursor: pointer;
}

.bt:hover {

    text-decoration: none;
}
.bt::after {
    content: '';
    display: block;
    width: 0;
    margin-top:-15px;
    height:6px;
    background: #6b00f2;
    transition: width .5s;

}
.bt:hover::after {
    width: 100%;
    color:white;
    //transition: width 0.5s;
}
.bt.active::after {
    content: '';
    display: block;
    width: 120%;
    margin-top:-1px;
    height:5px;
    background: #6b00f2;
    transition: width .5s;
    margin-left: -5px;

}




.bt.active {
font-weight:500;
font-size:1.2em;
color:black;

}

#myBtnContainer{

  float:left;
  margin-bottom: 0vh;
  display: flex;  /* 可以让三个 div 变成水平排列  */

}

